    <footer class="d-flex-row-col">
      <div class="app-footer d-flex-aic">
          <mat-icon>copyright</mat-icon>
          <span>Devesh | 2023</span>
      </div>
      <div class="social-icons d-flex-row-gap-12">
          <!-- <mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="facebook-icon"></mat-icon>
          <mat-icon svgIcon="github" aria-hidden="false" aria-label="facebook-icon"></mat-icon>
          <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="facebook-icon"></mat-icon>
          <mat-icon svgIcon="instagram" aria-hidden="false" aria-label="facebook-icon"></mat-icon> -->
      </div>
    </footer>