<div class="container home-flex">
  <div>
    <h1>Modus Cricket Stats APP</h1>
    <h2>See the top Cricketers</h2>
    <ul>
      <li>You can check the Top Batters in the world</li>
      <li>You have to login to add or delete a player</li>
      <li>For login you must be regitred on the app</li>
      <li>Name and Email are required for registration</li>
    </ul>

    <button mat-flat-button color="warn" (click)="goToPlayers()">See Players</button>

  </div>
  <div>
    <div class="home-image">
      <img src="../../assets/images/cricket.avif" class="cricket-img" width="500px">
    </div>
  </div>


</div>